<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <script async data-id="101435660" src="//static.getclicky.com/js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="home"><a href="https://docs.lynkrobotics.org">Home</a></li>
            <li class="whatIsFRC"><a href="https://docs.lynkrobotics.org/whatIsFRC/index.html">What Is FRC</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/programming/index.html">Programming</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/programming/beginnerProgramming.html">Beginner Programming</a></li>
                <li><a href="https://docs.lynkrobotics.org/programming/intermediateProgramming.html">Intermediate Programming</a></li>
                <li><a href="https://docs.lynkrobotics.org/programming/advancedProgramming.html">Advanced Programming</a></li>
                <li><a href="https://docs.lynkrobotics.org/programming/software.html">Software</a></li>
              </ul> </li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/design/index.html">Design</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/design/beginnerDesign.html">Beginner Design</a></li>
                <li><a href="https://docs.lynkrobotics.org/design/intermediateDesign.html">Intermediate Design</a></li>
                <li><a href="https://docs.lynkrobotics.org/design/advancedDesign.html">Advanced Design</a></li>
                <li><a href="https://docs.lynkrobotics.org/design/CAD/index.html">CAD Files</a></li>
              </ul> </li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/build/index.html">Build</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/build/beginnerBuild.html">Beginner Build</a></li>
                <li><a href="https://docs.lynkrobotics.org/build/intermediateBuild.html">Intermediate Build</a></li>
                <li><a href="https://docs.lynkrobotics.org/build/advancedBuild.html">Advanced Build</a></li>
              </ul> </li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/electrical/index.html">Electrical</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/electrical/beginnerElectrical.html">Beginner Electrical</a></li>
                <li><a href="https://docs.lynkrobotics.org/electrical/intermediateElectrical.html">Intermediate Electrical</a></li>
                <li><a href="https://docs.lynkrobotics.org/electrical/advancedElectrical.html">Advanced Electrical</a></li>
              </ul> </li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/strategy/index.html">Strategy</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/strategy/beginnerStrategy.html">Beginner Strategy</a></li>
                <li><a href="https://docs.lynkrobotics.org/strategy/intermediateStrategy.html">Intermediate Strategy</a></li>
                <li><a href="https://docs.lynkrobotics.org/strategy/advancedStrategy.html">Advanced Strategy</a></li>
                <li><a href="https://docs.lynkrobotics.org/strategy/tools.html">Strategy Tools</a></li>
              </ul> </li>
            <li class="business"><a href="https://docs.lynkrobotics.org/business/index.html">Business</a></li>
            <li class="lynkArchive"><a href="https://docs.lynkrobotics.org/lynkArchive/index.html">Lynk Archive</a></li>
            <li class="teamBlogs"><a href="https://docs.lynkrobotics.org/teamBlogs/index.html">Team Blogs</a></li>
            <li class="teamTechnicalBinders"><a href="https://docs.lynkrobotics.org/technicalBinders/index.html">Team Technical Binders</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/whitepapers/">Whitepapers</a>
              <ul>
                <li><a href="https://docs.lynkrobotics.org/whitepapers/#programming">Programming</a></li>
                <li><a href="https://docs.lynkrobotics.org/whitepapers/#design">Design</a></li>
                <li><a href="https://docs.lynkrobotics.org/whitepapers/#build">Build</a></li>
                <li><a href="https://docs.lynkrobotics.org/whitepapers/#electrical">Electrical</a></li>
                <li><a href="https://docs.lynkrobotics.org/whitepapers/#strategy">Strategy</a></li>
              </ul> </li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://witherslayer67.github.io/">Jimmy McCosker</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
