<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <script async data-id="101435660" src="//static.getclicky.com/js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="home"><a href="https://docs.lynkrobotics.org">Home</a></li>
            <li class="whatIsFRC"><a href="https://docs.lynkrobotics.org/whatIsFRC/index.html">What Is FRC</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/programming/index.html">Programming</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/design/index.html">Design</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/build/index.html">Build</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/electrical/index.html">Electrical</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/strategy/index.html">Strategy</a></li>
            <li class="business"><a href="https://docs.lynkrobotics.org/business/index.html">Business</a></li>
            <li class="lynkArchive"><a href="https://docs.lynkrobotics.org/lynkArchive/index.html">Lynk Archive</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/teamBlogs/index.html">Team Blogs</a></li>
            <li class="teamTechnicalBinders"><a href="https://docs.lynkrobotics.org/technicalBinders/index.html">Team Technical Binders</a></li>
            <li class="dpdwn"><a href="https://docs.lynkrobotics.org/whitepapers/">Whitepapers</a></li>
            <li class="contentRequest"><a href="https://github.com/LynkRobotics/Lynk-Library-of-Knowledge/issues/new/choose">Request Content</a></li>
          </ul>
          <script async src="https://cse.google.com/cse.js?cx=958d51e23b7df4a6a">
          </script>
          <div class="gcse-search"></div>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://witherslayer67.github.io/">Jimmy McCosker</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
